h2{
    font-size: 30px;
    text-align: center;
    font-family: calibri;
}
h3{
    font-weight: normal;
    text-align: center;
    font-family: fantasy;
}
table{
    font-family: calibri;
}
tr{
    color: white;
}